data/embeddings
data/graph_lists
data/pdb_structures
data/db_epitopes.db
data/explo.ipynb

data/epitope3d/embeddings
data/epitope3d/pdb_structure
data/epitope3d/graph_list
data/epitope3d/README.md


src/mlruns
src/models/trained_model


config
venv


.vscode/
__pycache__/
*.pyc
.env


*.pth
*.db
*.txt
*.gitignore